/* button */

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-primary {
    color: #fff;
    background-color: #025a1ff1;
    border-color: #025a1ff1;
}

.btn-primary:hover {
    color: forestgreen;
    background-color: #fff;
    border-color: rgb(189, 14, 14);
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #045f6d;
}

.btn-info:hover {
    color: #17a2b8;
    background-color: #fff;
    border-color: #17a2b8;
}

.btn:focus {
    box-shadow: none;
    outline: 0;
}
