/* card */

.card {
    background-color: #fff;
    display: block;
    margin: 1em;
    padding: 1em;
    width: 300px;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    padding: 1.25rem;
}
  
.card-title {
    margin-bottom: 0.75rem;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.75rem 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
  
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
