/* nav */

.navbar {
    display: block;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar > .container {
  display: block;
  height: 2.5rem;
  line-height: 2rem;
}

.navbar-brand {
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
}
.navbar-collapse {
    display: inline-block;
    line-height: inherit;
}

.navbar-nav {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}
  
.navbar-nav .nav-item {
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
}

.navbar-nav .nav-link {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    color: rgba(255, 255, 255, 0.5);
}
