/* nav */

.navbar {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #011304;
}

.navbar > .container {
  display: block;
  height: 2.5rem;
  line-height: 2rem;
}

.navbar-brand {
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
}
.navbar-collapse {
    display: inline-block;
    line-height: inherit;
}

.navbar-nav {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}
  
.navbar-nav .nav-item {
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
}

.navbar-nav .nav-link {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    color: rgba(255, 255, 255, 0.5);
}



.list-group {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
}


.list-group-item {
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}


/*================= hover ====================*/
.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}
 
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: rgba(222, 222, 22, 0.9);
}
  
.navbar .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}
  
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
    color: rgba(222, 222, 22, 0.9);
  }
  
.navbar .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}
.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.9);
}
