/* effect-brackets: Brackets */

.effect-brackets a::before,
.effect-brackets a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.effect-brackets a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.effect-brackets a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.effect-brackets a:hover::before,
.effect-brackets a:hover::after,
.effect-brackets a:focus::before,
.effect-brackets a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


/* Effect tell me more: same word slide in */
.tell-me-more a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.tell-me-more a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tell-me-more a:hover span,
.tell-me-more a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
	color: #fed136;
}

/* Effect push out: reveal, push out */
.push-out  {
	position: relative;
	z-index: 1;
}

.push-out a {
	overflow: hidden;
	margin: 0 15px;
}

.push-out a span {
	display: block;
	padding: 5px 20px;
	background: linear-gradient(to right, rgba(0, 64, 9, 0.89) 2em, #025a1ff1 3em, rgb(6, 162, 79) 7em, rgba(60, 200, 70, 0.89) 12em);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.push-out a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 5px 20px;
	width: 100%;
	height: 100%;
	background: #fff;
	background: linear-gradient(to left, rgba(0, 64, 9, 0.89) 2em, #025a1ff1 3em, rgb(6, 162, 79) 7em, rgba(60, 200, 70, 0.89) 12em);
	/* color: #0f7c67; */
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}

.push-out a:hover span,
.push-out a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.push-out a:hover::before,
.push-out a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}

/* Effect side-3d: 3D side */
.box {
	margin-bottom: 30px;
	margin-top: 30px;
	margin-right: 2%;
	vertical-align: top;
	padding: 10px;
	padding-bottom: 15px;
	transition: .8s ease-out;
  }
.box h2 {
	color: #025a1ff1;
	margin: 10px 0;
	font-size: 20px;
}

.image-holder {
	margin: -10px;
	margin-bottom: 15px;
	overflow: hidden;
}

.box img {
	display: block;
	max-width: 100%;
	transition: transform .7s;
  }
  .box:hover img{
	transform: scale(1.3) rotate(-7deg);
  }
  .box:hover {
	box-shadow: 0 3px 20px rgba(0,0,0,.6);
	transform: translateY(10px);
  }


.side-3d a {
	line-height: 2em;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	perspective: 800px;
}

.side-3d a span {
	position: relative;
	display: inline-block;
	padding: 3px 15px 0;
	background: linear-gradient(to right, rgba(0, 64, 9, 0.89) 2em, #025a1ff1 3em, rgb(6, 162, 79) 7em, rgba(60, 200, 70, 0.89) 12em);
	box-shadow: inset 0 3px #2f4351;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	transition: background 0.6s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

.side-3d a span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #025a1ff1;
	content: attr(data-hover);
	-webkit-transform: rotateX(270deg);
	-moz-transform: rotateX(270deg);
	transform: rotateX(270deg);
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
}

.side-3d a:hover span,
.effect-20 a:focus span {
	background: #025a1ff1;
}

.side-3d a:hover span::before,
.side-3d a:focus span::before {
	-webkit-transform: rotateX(10deg);	
	-moz-transform: rotateX(10deg);
	transform: rotateX(10deg);
}
