/* footer */
.footer {
    background-color: #045517;
    color: #fff;
    width: 100%;
}

footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer .container>div {
    display: flex;
}


.copyright {
    padding: 3em;
}

.copyright .site-info {
    height: 2em;
    line-height: 2em;
}
.copyright .site-info a {
    color: #fff;
}
.copyright .site-info a:hover {
    color: #3498db;
}

.bottom-social-icons a {
    display: inline-block;
    text-align: center;
    line-height: 2em;
    color: #fff;
    width: 2em;
    height: 2em;
    margin-left: 5px;
    border: 1px solid #fff;
    border-radius: 50px;
}

.social-icon .facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
}
.social-icon .twitter:hover {
    background-color: #55acee;
    border-color: #55acee;
}
.social-icon .dribble:hover {
    background-color: #d34836;
    border-color: #d34836;
}
.social-icon .flickr:hover {
    background-color: #ff0084;
    border-color: #ff0084;
}
.social-icon .youtube:hover {
    background-color: #cc181e;
    border-color: #cc181e;
}
.social-icon .google-plus:hover {
    background-color: #dd4b39;
    border-color: #dd4b39;
}
.social-icon .linkedin:hover {
    background-color: #007bb5;
    border-color: #007bb5;
}

.footer .container {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    width: 100%;
    justify-content: space-between;
}

/* Tablet menu */
@media all and (max-width: 600px) {

    .copyright .container div{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .copyright .container div.site-info {
        display: none;
    }
}
